.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f3f3f3;
}
.register .register-form{
    visibility: visible;
    width: 320px;
    height: 340px;
    padding: 10px;
    box-shadow: 0 0 100px rgba(0,0,0,.08);
    background: #fff;
}
.title{
    text-align: center;
}